* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Regular";
    letter-spacing: 0.5px;
    font-size: 18px;
}


/* ********************************
GLOBAL CONFIGURATIONS
******************************** */

#wrapper {
    margin: 0 auto;
}

h1 {
    font-family: "Josefin Sans SemiBold";
    text-transform: uppercase;
}

h2 {
    font-family: "Josefin Sans SemiBold";
    margin: 0 0 15px 0;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgba(220, 0, 0, 0.7);
}


/* FOR PLAIN TEXT */

@font-face {
    font-family: "Nunito Regular";
    src: url("../fonts/Nunito/Nunito-Regular.ttf");
}


/* FOR TITLES */

@font-face {
    font-family: "Josefin Sans SemiBold";
    src: url("../fonts/Josefin_Sans/JosefinSans-SemiBold.ttf")
}

@font-face {
    font-family: "Josefin Sans Regular";
    src: url("../fonts/Josefin_Sans/JosefinSans-Regular.ttf")
}

/* ******************************* */
/* This section is the for button used to go back 
    up to the page if you have scrolled down too much */
#wrapper>button {
    z-index: 2;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background: transparent;
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    box-shadow: -3px -3px 0px 0px #816b48;
    transition: all 0.2s ease;
    cursor: pointer;
}

#wrapper>button:hover {
    background: black;
    transition: all 0.2s ease;
}

#wrapper>button>i {
    font-size: 61px;
    color: #685F57;
}
/* ******************************* */

/* ********************************
WRAPPER BACKGROUNDS CONFIGURATIONS
******************************** */

#wrapper>.container {
    background-color: rgba(255, 255, 255, 0.1);
}

#wrapper>.container>div {
    padding: 20px 0;
}


/* ********************************
NAVIGATION BAR
******************************** */

#wrapper>header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0px -4px 10px 1px black;
}

#wrapper>header>nav {
    height: inherit;
}

#wrapper>header>nav>img:first-of-type {
    z-index: -1;
    position: absolute;
    top: -120px;
    width: 100%;
    min-width: 1920px;
}

#wrapper>header>nav>img:last-of-type {
    margin: 10px 0 10px 20px;
    height: 100px;
    transition: all 0.2s ease;
    cursor: pointer;
}

#wrapper>header>nav>img:last-of-type:hover {
    opacity: 0.5;
    transition: all 0.2s ease;
}

#wrapper>header>nav>ul {
    position: absolute;
    right: 0;
    top: 10px;
    margin: 0 auto;
    width: 620px;
    height: inherit;
}

#wrapper>header>nav>ul>li {
    display: inline-block;
    width: 150px;
    height: inherit;
    text-align: center;
    line-height: 80px;
}

#wrapper>header>nav>ul>li>a {
    font-family: "Nunito Regular";
    display: inline-block;
    width: inherit;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    transition: all 0.2s ease;
}

#wrapper>header>nav>ul>li>a:hover {
    opacity: 0.5;
    transition: all 0.2s ease;
}

#wrapper>header>nav>ul>li>a.active {
    color: #DEB887;
    font-weight: bold;
}

/* ********************************
LANDING
******************************** */

#landing {
    position: relative;
    text-align: center;
    background: url("../images/backgrounds/stars.png");
    background-size: cover;
    background-color: #31333C;
}

#landing>.container {
    margin: 300px auto 0px auto;
    padding: 0 0 100px 0;
    width: 1080px;
}

#landing>.container>div:nth-of-type(2) {
    width: 1000px;
    height: 700px;
}

#landing>.container>div:nth-of-type(2)>div {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    background: url("../images/video_frames/frame_explosion.png");
    background-size: cover;
    width: inherit;
    height: inherit;
}

#landing>.container>div:nth-of-type(2)>video {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

#landing>div>.separator {
    margin: 30px auto;
    width: 350px;
    height: 2px;
    background: #816b48;
}

#landing > div > div:first-of-type:not(.separator) {
    margin: 0 0 55px 0;
}

#landing > div > div:not(.separator):last-of-type {
    margin: 60px auto 40px auto;
}

#landing>div>div:not(.separator) {
    position: relative;
    margin: 120px auto 40px auto;
    width: inherit;
}

#landing>div>div>h1 {
    font-size: 72px;
    color: #816b48;
}

#landing>div>div>h1:last-of-type {
    z-index: 0;
    position: absolute;
    top: -82px;
    opacity: 0.1;
    font-size: 155px;
    color: #816b48;
    line-height: 130px;
    pointer-events: none;
}

#landing>div>div>h1>i {
    padding: 0 25px;
    font-size: 36px;
    vertical-align: top;
    color: gray;
}

#landing>div>div>p {
    margin: 20px auto;
    width: 800px;
    color: #998D7C;
    line-height: 30px;
}

#landing>img {
    position: absolute;
    width: 100%;
    left: 0;
}

/* ********************************
PERSONAS
******************************** */

#personas, #campaigns, #content {
    position: relative;
    margin: 250px auto 0 auto;
    width: 1080px;
}

#personas>header, #campaigns>header, #content>header, #campaigns>.container>header {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: inherit;
    height: 500px;
    text-align: center;
}

#personas>header>button, #campaigns>header>button, #campaigns>.container>header>button {
    position: absolute;
    /* Less than 50 because the side of the icon must be
     accounted for as well */
    top: 40%;
    display: inline-block;
    width: max-content;
    height: max-content;
    background: none;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

#personas>header>button>i, #campaigns>header>button>i, #campaigns>.container>header>button>i {
    color: darkred;
    opacity: 0.5;
    font-size: 108px;
    transition: all 0.2s ease;
}

#personas>header>button>i:hover, #campaigns>header>button>i:hover, #campaigns>.container>header>button>i:hover {
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

#personas>header>button:first-of-type, #campaigns>header>button:first-of-type, #campaigns>.container>header>button:first-of-type {
    left: 0;
}

#personas>header>button:last-of-type,   #campaigns>header>button:last-of-type, #campaigns>.container>header>button:last-of-type {
    right: 0;
}

#personas>header>h1, #campaigns>header>h1, #content>header>h1, #campaigns>.container>header>h1, #campaigns>.container>header>h1 {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    display: inline-block;
    width: 1000px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 155px;
    vertical-align: middle;
}

#personas>header>h1:last-of-type, #campaigns>header>h1:last-of-type, #content>header>h1:last-of-type {
    font-size: 175px;
    color: rgba(0, 0, 0, 0.1);
}


/* ********************************
PERSONAS > PERSONA > HEADER
******************************** */

#personas>.persona {
    margin: 50px 0;
    transition: all 0.3s ease;
}

#personas>.persona>header {
    margin: 0 auto 60px auto;
    width: max-content;
}

#personas>.persona>header>div {
    display: inline-block;
    width: 400px;
    vertical-align: middle;
}

#personas>.persona>header>div>img {
    padding: 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px salmon;
}


/* ********************************
PERSONAS > PERSONA > MAIN
******************************** */

#personas>.persona>main {
    margin: 0 auto;
    width: inherit;
}


/* ********************************
PERSONAS > PERSONA > CHARACTERISTICS
******************************** */

#personas>.persona>header>div>p {
    margin: 10px 0;
}

#personas>.persona>header>div>p>span {
    font-weight: bold;
    color: rgba(220, 0, 0, 0.7);
}


/* ********************************
PERSONAS > PERSONA > GROUPS
******************************** */

#personas>.persona>main>.group {
    margin: 10px 44px;
    width: inherit;
}

.group {
    box-shadow: -3px -3px 0px 0px rgba(220, 0, 0, 0.2);
    margin: 10px auto 30px auto;
    padding: 25px 40px;
    /* background: white; */
    border: 2px solid #284555;
    border-radius: 4px;
    text-align: left;
}

.group>p {
    line-height: 23px;
}

.group>ul>li {
    margin: 5px 0 0 15px;
    list-style: none;
}

.group>ul>li::before {
    content: "\2022";
    display: inline-block;
    margin: 0 10px 0 -18px;
    color: salmon;
}


/* ********************************
PERSONAS > PERSONA > GRID AND ITS GROUPS
******************************** */

.grid {
    margin: 0 auto;
    width: inherit;
    text-align: center;
}

.grid>.group {
    display: inline-block;
    margin: 10px;
    width: 400px;
    height: 265px;
    vertical-align: top;
}


/* ********************************
FOOTER
******************************** */

footer {
    position: relative;
    width: 100%;
    height: 300px;
    color: #4B4134;
}

footer>img {
    width: 100%;
}


/* ********************************
FOOTER CONTAINER WITHOUT HEADER
******************************** */

footer>.container {
    margin: -20px auto 0 auto;
    width: max-content;
    height: inherit;
    background-color: #ACAB38;
}

footer>.background {
    z-index: -1;
    position: absolute;
    margin: -20px auto 0 auto;
    width: inherit;
    height: inherit;
    background-color: #ACAB38;
}

footer>.container>div:not(.separator) {
    display: inline-block;
    margin: 60px 30px 0 30px;
    width: 400px;
    max-width: max-content;
    vertical-align: top;
}

footer>.container>.separator {
    display: inline-block;
    margin: 90px 0 0 0;
    width: 2px;
    height: 150px;
    background: rgba(100, 50, 0, 0.2);
}

footer>.container>div>h2 {
    color: #43382D;
}

footer>.container>div>p {
    line-height: 23px;
}

footer>.container>div>img {
    width: 150px;
    border-radius: 4px;
}

footer>.container>div>ul>li {
    list-style: none;
}

footer>.container>div>ul>li>i {
    color: #484543;
    margin: 10px 15px 0 0;
}

/* ********************************
CAMPAIGNS
******************************** */

#campaigns, #content {
    margin: 0 auto;
}

/* ********************************
CAMPAIGNS > HEADER
******************************** */

#campaigns>header {
    margin: 60px 0 0 0;
    height: 300px;
}

#campaigns>header>button {
    top: 30%;
}
#campaigns>header>h1 {
    font-size: 300px;
}

#campaigns>header>h1:last-of-type {
    font-size: 375px;
    color: rgba(0, 0, 0, 0.1);
}

#campaigns>.container {
    margin: 0 0 70px 0;
    background: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ********************************
CAMPAIGNS > GRID
******************************** */

#campaigns>.container>.campaign>div {
    display: inline-block;
    width: 500px;
    vertical-align: top;
}

#campaigns>.container>.campaign>.separator {
    margin: 60px 50px 0 0;
    width: 1px;
    height: 300px;
    background: rgba(0, 0, 0, 0.3);
}

/* ********************************
CAMPAIGNS > GRID
******************************** */

#campaigns>.container>.campaign>div>ul>li {
    display: block;
    margin: 25px 0;
    list-style: none;
}

/* ********************************
CAMPAIGNS > GRID > SEPARATOR
******************************** */

#campaigns>.container>.campaign>div>ul>div {
    margin: 0 auto;
    width: max-content;
}

#campaigns>.container>.campaign>div>ul>div>.campaignSeparator {
    display: inline-block;
    width: 100px;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
    vertical-align: middle;
}

#campaigns>.container>.campaign>div>ul>div>h3 {
    display: inline-block;
    margin: 0 10px;
    width: max-content;
}

#campaigns>.container>.campaign>div>ul>li>ul {
    display: inline-block;
    margin: 0 0 0 0;
}

#campaigns>.container>.campaign>div>ul>li>ul>li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

/* ********************************
CAMPAIGNS > CAMPAIGNS HEADER
******************************** */

#campaigns>.container {
    padding: 0;
    width: inherit;
}
#campaigns>.container>header {
    display: block;
    margin: 0 auto;
    width: 750px;
    height: 150px;
}

#campaigns>.container>header>h1 {
    z-index: 0;
    font-size: 48px;
    text-align: center;
    width: max-content;
}

#campaigns>.container>header>button {
    top: 30%;
}

#campaigns>.container>header>button>i {
    font-size: 50px;
}

/* ********************************
CAMPAIGNS > ACTIVITY STYLES
******************************** */

#campaigns>.container>.campaign>div>ul>li>button {
    width: 50px;
    height: 50px;
    color: salmon;
    background: none;
    border: 3px solid salmon;
    border-radius: 50%;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
    transition: all 0.3s ease;
}

#campaigns>.container>.campaign>div>ul>li>.link {
    display: inline-block;
    width: 30px;
    height: 5px;
    background: salmon;
    border-radius: 5px;
}

#campaigns>.container>.campaign>div>ul>li>button:hover {
    background: salmon;
    color: white;
    transition: all 0.3s ease;
}

#campaigns>.container>.campaign>div>ul>li>button.active {
    background: salmon;
    color: white;
    transition: all 0.3s ease;
}

#campaigns>.container>.campaign>div>ul>li>ul>li>button {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.1);
    cursor: default;
    font-size: 24px;
    font-weight: bold;
}

#campaigns>.container>.campaign>div>ul>li>ul>li>button>i {
    display: block;
    font-size: 30px;
}

#campaigns>.container>.campaign>div>ul>li>ul>li>button:hover {
    background: white;
    transition: all 0.3s ease;
}

/* Activity types */
/* ********************************** */
#campaigns>.container>.campaign>div>ul>li>ul>li>button.redActivity {
    background: salmon;
    color: white;
    border: 3px solid salmon;
    cursor: pointer;
}
#campaigns>.container>.campaign>div>ul>li>ul>li>button.redActivity:hover {
    background: white;
    color: salmon;
}

#campaigns>.container>.campaign>div>ul>li>ul>li>button.greenActivity {
    background: #86EAAE;
    color: white;
    border: 3px solid #86EAAE;
    cursor: pointer;
}
#campaigns>.container>.campaign>div>ul>li>ul>li>button.greenActivity:hover {
    background: white;
    color: #86EAAE;
}

#campaigns>.container>.campaign>div>ul>li>ul>li>button.yellowActivity {
    background: rgb(255, 178, 36);
    color: white;
    border: 3px solid rgb(255, 178, 36);
    cursor: pointer;
}
#campaigns>.container>.campaign>div>ul>li>ul>li>button.yellowActivity:hover {
    background: white;
    color: rgb(255, 178, 36);
}

#campaigns>.container>.campaign>div>ul>li>ul>li>button.blueActivity {
    background: #A4C2F4;
    color: white;
    border: 3px solid #A4C2F4;
    cursor: pointer;
}
#campaigns>.container>.campaign>div>ul>li>ul>li>button.blueActivity:hover {
    background: white;
    color: #A4C2F4;
}

#campaigns>.container>.campaign>div>ul>li>ul>li>button.purpleActivity {
    background: #714796;
    color: white;
    border: 3px solid #714796;
    cursor: pointer;
}
#campaigns>.container>.campaign>div>ul>li>ul>li>button.purpleActivity:hover {
    background: white;
    color: #714796;
}

#campaigns>.container>.campaign>div>ul>li>ul>li>button.grayActivity {
    background: gray;
    color: white;
    border: 3px solid gray;
    cursor: pointer;
}
#campaigns>.container>.campaign>div>ul>li>ul>li>button.grayActivity:hover {
    background: white;
    color: gray;
}
/* ********************************** */

/* Activity types selected */
/* ********************************** */
#campaigns>.container>.campaign>div>ul>li>ul>li>button.activeRedActivity {
    background: white;
    color: salmon;
    border: 3px solid salmon;
    cursor: default;
}
#campaigns>.container>.campaign>div>ul>li>ul>li>button.activeBlueActivity {
    background: white;
    color: #A4C2F4;
    border: 3px solid #A4C2F4;
    cursor: pointer;
}

#campaigns>.container>.campaign>div>ul>li>ul>li>button.activeGreenActivity {
    background: white;
    color: #86EAAE;
    border: 3px solid #86EAAE;
    cursor: default;
}

#campaigns>.container>.campaign>div>ul>li>ul>li>button.activePurpleActivity {
    background: white;
    color: #714796;
    border: 3px solid #714796;
    cursor: default;
}

#campaigns>.container>.campaign>div>ul>li>ul>li>button.activeOrangeActivity {
    background: white;
    color: rgb(255, 178, 36);
    border: 3px solid rgb(255, 178, 36);
    cursor: default;
}

#campaigns>.container>.campaign>div>ul>li>ul>li>button.activeGrayActivity {
    background: white;
    color: gray;
    border: 3px solid gray;
    cursor: default;
}
/* ********************************** */

/* ********************************
CAMPAIGNS > DETAILS
******************************** */

#campaigns>.container>.campaign>div>h2 {
    margin: 0;
    font-size: 48px;
}

#campaigns>.container>.campaign>div>h3 {
    margin: 0 0 30px 0;
    font-size: 24px;
}

#campaigns>.container>.campaign>div>h3>i {
    font-size: 32px;
    vertical-align: top;
}

#campaigns>.container>.campaign>div>p {
    margin: 15px 0;
}

/* ********************************
CONTENT
******************************** */

/* Classes used to enable scrolling
 navigation through different elements
 being selected by the use */
.personasLink {}
.campaignsLink {}
.contentLink {}
.returnTotop {}